* {
    position: static;
}
header {
    text-align: center;
}
nav {
    position: relative;
    background-color: black;
    margin: 20px;
    padding: 10px;
    margin-bottom: 2%;
}
nav div {
    position: relative;
    display: inline-block;
    color: white;
    font-size: large;
    padding-right: 12%;
}
div .sidebar {
    position: fixed;
    background-color: black;
    font-size: large;
    text-align: left;
    height: 50%;
    width: 200px;
    margin-left: 20px;
}
div > div .menu-item {
    color: aliceblue;
    display: block;
    margin-inline: 7%;
    padding-top: 7%;
}
.courses {
    position: relative;
    columns: 3;
    column-gap: 0px;
    margin-top: 0px;
    margin-left: 16%; 
    margin-right: 2%;
    
}
.course {
    position: relative;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}
p img {
    width: 50%;

}
.articles {
    columns: 3;
    padding: 15px 15px;
    padding-bottom: 7%;
    margin-left: 16%; 
    margin-right: 2%;
    text-align: left;
}

footer {
    position: -ms-page;
    background-color: rgb(208, 208, 208);
    font-size: large;
    padding: 20px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}