@font-face {
    font-family: "Mystery Quest";
    src: url("../FuentesWeb/mystery-quest.woff");
}
@font-face {
    font-family: "Nosifer-Regular";
    src: url(../FuentesWeb/Nosifer-Regular.ttf);
}
@font-face {
    font-family: "Butcherman-Regular";
    src: url(../FuentesWeb/Butcherman-Regular.ttf);
}
h2 {
    color: aquamarine;
    background-color: rgb(46, 46, 53);
    width: 40%;
    text-align: center;
    margin-left: 30%
}
/*Esto es un comentario con css*/

/*Esto es un selector de elemento*/
/*Selector universal*/
*{
    background-color: rgb(163, 122, 122);
    background-attachment: fixed;
    background-size: cover;
    background-image: url(https://c.pxhere.com/photos/a7/7c/background_treasure_map_map_discover_adventure_old_old_fashioned-491504.jpg!d)
    
}
h2{
    font-size: xx-large;
    text-shadow: 3px 5px 3px black;
}
h4{
    font-family: "Butcherman-Regular";
    text-shadow: 4px 8px 4px black;
    text-align: center;
    font-size: xx-large;
}

 .formula {
    font-family: Mystery Quest;
    font-size: xx-large;
    text-align: center;
}
pre {
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;

    
}
p{
    text-align: center;
    font-family: "Nosifer-Regular";
    font-size: xx-large;

}
p.p1 {
    color: brown;
    text-decoration: overline;
    font-size: small;


}
p.p2{
    color: rgb(226, 226, 226);
    text-decoration: line-through;
    font-size: medium;
}
p:hover{
    background-color: aqua;
    color: brown;
}

